.flex{
    display: flex;
    justify-content: center;
}
hr{
    border: 1px solid rgb(189, 187, 187);
    background-color: rgb(189, 187, 187);
    border-radius: 5px;
}
.nav{
    width: 1440px;
    height: 400px;
    background-image: url(img/268571\ 1.png);
    margin: 0 auto;
}
.nav-gradient{
    width: 1440px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 117, 175, 0.8) 0%, rgba(0, 117, 255, 0.8) 100%);
}
.nav-menu{
    display: flex; 
    width: 40%;
    height: 50px;
    margin: 0 auto;
}
.nav-menu__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 12px;
    cursor: pointer;
}
.site-nav__logo{
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-right: 10px;
    cursor: pointer;
}
.nav-menu__secon-box{
    display: flex;
    justify-content: center;
}
.nav-menu_text1{
    font-weight:bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    color: #fff;
    cursor: pointer;
}
.site-nav-menu__button{
    width: 125px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #00FF75;
    border: none;
    font-weight: 800;
    border-radius: 10px;
    margin-left: 300px;
    cursor: pointer;
}
.nav-menu__img2{
    margin-top: 20px;
    margin-left: 20px;
}
.main-part{
    margin-left: 40px;
    background-image: url(img/Rectangle\ 47.png);
    background-repeat: no-repeat;
}
.main-part-text{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    color: #fff;
    font-weight: 1000;
    margin-left: 50px;
}